.employer-login {
    position: absolute;
    left: 0;
    bottom: 0;
    color: rgba(255, 255, 255, 0.5);
    opacity: .9;
}

p > a {
    color: inherit;
}

h1 {
    color: white;
}

.search-reservation {
    color: white;
    text-decoration: none;
}

.search-reservation:hover {
    text-decoration: underline;
    cursor: pointer;
}