{% extends "customer/customer_layout.html" %}
{% block title %}Luo varaus{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/customer/create_reservation.css">
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container-fluid overflow-y-scroll vh-100 d-flex flex-column align-items-center">
        <div class="form-container p-5 w-50">
            <form>
                <div class="mb-3">
                    <label for="location" class="form-label">Toimipiste</label>
                    <select class="form-select" aria-label="Valitse kampaaja" id="location">
                        <option selected>Valitse toimipiste</option>
                        <option value="1">Merihaka</option>
                        <option value="2">Kannelmäki</option>
                        <option value="3">Meilahti</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="employee" class="form-label">Kampaaja</label>
                    <select class="form-select" aria-label="Valitse kampaaja" id="employee">
                        <option selected>Valitse kampaaja</option>
                        <option value="all">Kuka vaan</option>
                        <option value="1">Aada</option>
                        <option value="2">Daniel</option>
                        <option value="3">Sirpa</option>
                    </select>
                </div>
                <div class="mb-3" style="height: 300px;"><p>Tähän ajat</p></div>
                <div class="mb-3">
                    <label for="customer_name" class="form-label">Varaajan nimi</label>
                    <input type="text" class="form-control" id="customer_name">
                </div>
                <div class="mb-3">
                    <label for="customer_number" class="form-label">Varaajan puhelinnumero</label>
                    <input type="text" class="form-control" id="customer_number">
                    <div id="customer_number_help" class="form-text">Anna puhelinnumero muodossa 040 123 1234</div>
                </div>
                <div class="mb-3">
                    <label for="customer_email" class="form-label">Varaajan sähköpostiosoite</label>
                    <input type="email" class="form-control" id="customer_email">
                    <div id="customer_email_help" class="form-text">Lähetämme sähköpostiisi vain varausvahvistuksen.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Viesti kampaajalle</label>
                    <textarea class="form-control" id="message" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Lähetä varaus</button>
            </form>
        </div>
    </div>
{% endblock %}