{% extends "customer/customer_layout.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/customer/edit_reservation.css">
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container vh-100 d-flex flex-column align-items-center justify-content-center">
        <div class="form-container d-flex flex-column justify-content-center p-5 w-50">
            <h1 class="mb-3">Varauksen tiedot</h1>
            {% if error is defined %}
                <p class="text-danger">{{ error }}</p>
            {% endif %}
            <p><b>Aika:</b> {{ reservation.timeslot.timestamp.strftime("%d.%m.%Y - %H:%M") }} <br> <b>Palvelu:</b> {{ reservation.timeslot.service.name }} <br> <b>Toimipiste:</b> {{ reservation.timeslot.location.name }}</p>
            <form id="edit-form" method="POST" action="/edit-reservation/{{ reservation.reservation_id }}">
                <div class="mb-3">
                    <label for="client_name" class="form-label">Nimi</label>
                    <input type="text" class="form-control" id="client_name" value="{{ reservation.customer_name }}" name="customer_name">
                </div>
                <div class="mb-3">
                    <label for="client_number" class="form-label">Puhelinnumero</label>
                    <input type="text" class="form-control" id="client_number" value="{{ reservation.customer_mobile }}" name="customer_mobile">
                </div>
                <div class="mb-3">
                    <label for="client_email" class="form-label">Sähköposti</label>
                    <input type="text" class="form-control" id="client_email" value="{{ reservation.customer_email }}" name="customer_email">
                </div>
                <div class="mb-3">
                    <label for="client_email" class="form-label">Viesti</label>
                    <textarea class="form-control" id="message" name="message" form="edit-form">{{ '' if reservation.message == None else reservation.message }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Tallenna muutokset</button>
            </form>
        </div>
    </div>
{% endblock %}