{% extends "customer/customer_layout.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/customer/landing_page.css">
{% endblock %}
{% block title %}Tervetuloa{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1 class="mb-5">Tervetuloa kampaajalle!</h1>
        <a class="btn btn-primary btn-lg mb-1" href="/reserve">Tee varaus</a>
        <a class="search-reservation" href="/search-reservation">Etsi varaus</a>
        <a class="btn btn-secondary btn-sm mt-4" href="/locations">Sijaintimme</a>
    </div>
    <p class="employer-login m-2"><a href="/login">Henkilökunnalle</a></p>
{% endblock %}