{% extends "customer/customer_layout.html" %}
{% block title %}Sijaintimme{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/customer/locations.css">
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1 class="mb-5">Sijaintimme</h1>
        <div class="row mb-5">
            {% for location in locations %}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        {% if location.cover_image != None %}
                            <img src="{{ location.cover_image }}" class="card-img-top"
                                 alt="Kuva Merihaan sijainnista">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ location.name }}</h5>
                            <p class="card-text">{{ location.address }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="btn btn-primary btn-lg" href="/reserve">Tee varaus</a>
    </div>
{% endblock %}