{% extends "customer/customer_layout.html" %}
{% block title %}Sijaintimme{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/customer/select_employee.css">
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container vh-100 d-flex flex-column align-items-center justify-content-center">
        <div class="form-container d-flex flex-column align-items-center justify-content-center p-5 w-50 position-relative">
            <a href="/reserve/" class="go-back text-primary position-absolute m-4">&#8592; Takaisin</a>
            <h1 class="mb-5">Valitse kampaaja</h1>
            <div class="row">
                {% for employee in employees %}
                    <div class="col">
                        <a type="button" class="btn btn-outline-primary" href="/reserve/{{ location_id }}/{{ employee.user_id }}">{{ employee.name }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}