{% extends "customer/customer_layout.html" %}
{% block title %}Valitse sijainti{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/customer/select_location.css">
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container vh-100 d-flex flex-column align-items-center justify-content-center">
        <div class="form-container d-flex flex-column align-items-center justify-content-center p-5 w-50 position-relative">
            <a href="/reserve/" class="go-back text-primary position-absolute m-4">&#8592; Takaisin</a>
            <h1>Valitse toimipiste</h1>
            <p class="mb-5 text-muted">Valittu palvelu: {{ service.name }}</p>
            <div class="row w-100">
                {% for location in locations %}
                    <div class="col-12 mb-3">
                        <a type="button" class="btn btn-outline-primary w-100" href="/reserve/{{ service.service_id }}/{{ location.location_id }}">{{ location.name }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}