{% extends "dashboard/dashboard_layout.html" %}
{% block content %}
    <h1 class="mb-3">Päivitä tietojasi</h1>
    <form action="/dashboard/users/user-details/update/" method="POST">
        <div class="row mb-3">
            <div class="col-4">
                <label for="user_name">Nimi</label>
                <input type="text" id="user_name" class="form-control" placeholder="Nimi" name="user_name"
                       aria-label="Nimi" value="{{ user.name }}">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-4">
                <label for="user_email">Sähköpostiosoite</label>
                <input type="email" id="user_email" class="form-control" placeholder="Sähköpostiosoite" name="user_email"
                       aria-label="Sähköpostiosoite" value="{{ user.email }}">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-4">
                <label for="user_role">Käyttäjärooli</label>
                <input type="url" id="user_role" disabled class="form-control" placeholder="Käyttäjärooli"
                       aria-label="Käyttäjärooli" value="{{ 'Pääkäyttäjä' if user.role == 'admin' else 'Käyttäjä' }}">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary">Tallenna muutokset</button>
            </div>
        </div>
    </form>
{% endblock %}