{% extends "dashboard/dashboard_layout.html" %}
{% set active_page = "dashboard/dashboard" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/dashboard/dashboard.css">
{% endblock %}
{% block content %}
    <h1>Tulevat varaukset</h1>
    <table class="table table-striped reservations-table">
        <thead>
        <tr>
            <th scope="col">Aika</th>
            <th scope="col">Palvelu</th>
            <th scope="col">Nimi</th>
            <th scope="col">Viesti</th>
        </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <th scope="row"><a href="/dashboard/reservations/{{ reservation.reservation_id }}" class="text-primary">{{ reservation.timeslot.timestamp.strftime("%d.%m.%Y - %H:%M") }}</a> <i
                        class="bi bi-box-arrow-up-right"></i></th>
                <td>{{ reservation.timeslot.service.name }}</td>
                <td>{{ reservation.customer_name }}</td>
                {% if reservation.message != None %}
                    {% if reservation.message.__len__() > 21 %}
                        <td>{{ reservation.message[0:20] }}...</td>
                    {% else %}
                        <td>{{ reservation.message }}</td>
                    {% endif %}
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}