{% extends "dashboard/dashboard_layout.html" %}
{% set active_page = "dashboard/manage_reservation" %}
{% block content %}
    <h1>12:30 – Ti 12.8.2023</h1>
    <div class="card">
        <div class="card-header">
            {{ reservation.timeslot.service.name }} ({{ reservation.timeslot.location.name }})
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ reservation.customer_name }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ reservation.customer_mobile }}
                | {{ reservation.customer_email }}</h6>
            {% if reservation.message != None %}
                <p class="card-text">{{ reservation.message }}</p>
            {% endif %}
            {% if reservation.completed == false %}
                <form class="d-inline-block" action="/dashboard/complete-reservation/" method="POST">
                    <input type="text" class="d-none" value="{{ reservation.reservation_id }}" name="reservation_id">
                    <button type="submit" class="btn btn-success">Merkitse suoritetuksi</button>
                </form>
            {% else %}
                <form class="d-inline-block" action="/dashboard/uncomplete-reservation/" method="POST">
                    <input type="text" class="d-none" value="{{ reservation.reservation_id }}" name="reservation_id">
                    <button type="submit" class="btn btn-warning">Merkitse suorittamattomaksi</button>
                </form>
            {% endif %}
            <form class="d-inline-block float-end" action="/dashboard/delete-reservation/" method="POST">
                <input type="text" class="d-none" value="{{ reservation.reservation_id }}" name="reservation_id">
                <button type="submit" class="btn btn-danger">Poista varaus</button>
            </form>
        </div>
    </div>
{% endblock %}