{% extends "dashboard/dashboard_layout.html" %}
{% set active_page = "dashboard/reservable-times" %}
{% block content %}
    <h1 class="mb-3">Hallitse varattavia aikoja</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Aika</th>
            <th scope="col">Toimipiste</th>
            <th scope="col">Palvelu</th>
            <th scope="col">Työntekijä</th>
            <th scope="col">Toiminnot</th>
        </tr>
        </thead>
        <tbody>
        {% for rt in reservable_times %}
            <tr class="align-middle">
                <td>{{ rt.timestamp.strftime("%d.%m.%Y - %H:%M") }}</td>
                <td>{{ rt.location.name }}</td>
                <td>{{ rt.service.name }}</td>
                <td>{{ rt.employee.name }}</td>
                {% if rt.timeslot_id in reserved_ids %}
                    <td>Varattu jo</td>
                {% else %}
                    <td>
                        <form class="d-inline-block" action="/dashboard/manage-reservable-times/delete/" method="POST">
                            <input class="d-none" value="{{ rt.timeslot_id }}" name="timeslot_id">
                            <button type="submit" class="btn btn-danger">Poista</button>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h1 class="mb-3">Lisää varattava aika</h1>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
        <p class="text-danger">{{ errors[0] }}</p>
    {% endif %}
    {% endwith %}
    <form action="/dashboard/manage-reservable-times/create/" method="POST">
        <div class="row mb-3">
            <div class="col">
                <label for="time" class="form-label">Päivä</label>
                <input type="text" id="date" class="form-control" placeholder="Päivä (DD.MM.YYYY)" aria-label="Päivä"
                       name="date">
                <small id="dateHelp" class="form-text text-muted">Päivän tulee olla muodossa DD.MM.YYYY</small>
            </div>
            <div class="col">
                <label for="time" class="form-label">Aika</label>
                <input type="text" id="time" class="form-control" placeholder="Kellonaika (HH.MM)" aria-label="Aika"
                       name="time">
                <small id="timeHelp" class="form-text text-muted">Ajan tulee olla muodossa HH.MM</small>
            </div>
            <div class="col">
                <label for="location" class="form-label">Toimipiste</label>
                <select class="form-select" aria-label="Valitse toimipiste" id="location" name="location">
                    <option selected>Valitse toimipiste</option>
                    {% for location in locations %}
                        <option value="{{ location.location_id }}">{{ location.name }} - {{ location.address }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="service" class="form-label">Palvelu</label>
                <select class="form-select" aria-label="Valitse palvelu" id="service" name="service">
                    <option selected>Valitse palvelu</option>
                    {% for service in services %}
                        <option value="{{ service.service_id }}">{{ service.name }}
                            ({{ '{:.2f}'.format(service.price / 100) }} €)
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="employee" class="form-label">Työntekijä</label>
                <select class="form-select" aria-label="Valitse työntekijä" id="employee" name="employee">
                    <option selected>Valitse työntekijä</option>
                    {% for employee in employees %}
                        <option value="{{ employee.user_id }}">{{ employee.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Luo varattava aika</button>
            </div>
        </div>
    </form>
{% endblock %}