{% extends "dashboard/dashboard_layout.html" %}
{% set active_page = "dashboard/services" %}
{% block content %}
    <h1 class="mb-3">Palvelut</h1>
    <table class="table mb-5">
        <thead>
        <tr>
            <th scope="col">Nimi</th>
            <th scope="col">Hinta</th>
            <th scope="col">Poista</th>
        </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr class="align-middle">
            <td>{{ service.name }}</td>
            <td>{{ '{:.2f}'.format(service.price / 100) }} €</td>
            <td><form method="POST" action="/dashboard/manage-services/delete/">
                <input class="d-none" value="{{ service.service_id }}" name="service_id"/>
                <button class="btn btn-danger" type="submit">Poista</button>
            </form></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <h1 class="mb-3">Lisää uusi palvelu</h1>
    <form method="POST" action="/dashboard/manage-services/create/">
        <div class="row mb-3">
            <div class="col">
                <input type="text" class="form-control" placeholder="Palvelun nimi" aria-label="Palvelun nimi" name="service_name">
            </div>
            <div class="col">
                <input type="number" class="form-control" placeholder="Palvelun hinta senteissä" aria-label="Palvelun hinta senteissä" name="service_price">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary">Luo palvelu</button>
            </div>
        </div>
    </form>
{% endblock %}