{% extends "dashboard/dashboard_layout.html" %}
{% block content %}
    <h1 class="mb-3">Muokkaa toimipaikkaa</h1>
    <h2 class="mb-2">Meilahti</h2>
    <form>
        <div class="row mb-3">
            <div class="col-3">
                <label for="location_name">Toimipisteen nimi</label>
                <input type="text" id="location_name" class="form-control" placeholder="Toimipisteen nimi"
                       aria-label="Toimipisteen nimi" value="Meilahti">
            </div>
            <div class="col-4">
                <label for="location_address">Toimipisteen osoite</label>
                <input type="text" id="location_address" class="form-control" placeholder="Toimipisteen osoite"
                       aria-label="Toimipisteen osoite" value="Paciuksenkaari 15, 00120 HELSINKI">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-7">
                <label for="location_photo">Toimipisteen kuvan URL-osoite</label>
                <input type="url" id="location_photo" class="form-control" placeholder="Toimipisteen kuvan URL-osoite"
                       aria-label="Toimipisteen kuvan URL-osoite" value="https://example.com">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary">Tallenna muutokset</button>
            </div>
        </div>
    </form>
{% endblock %}