{% extends "dashboard/dashboard_layout.html" %}
{% set active_page = "dashboard/locations" %}
{% block content %}
    <h1 class="mb-5">Hallitse toimipisteitä</h1>
    <div class="row mb-5">
        {% for location in locations %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    {% if location.cover_image != None %}
                        <img src="{{ location.cover_image }}" class="card-img-top"
                             alt="Kuva {{ location.name }} sijainnista">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ location.name }}</h5>
                        <p class="card-text">{{ location.address }}</p>
                        <form class="d-inline-block" action="/dashboard/locations/manage-locations/delete/"
                              method="POST">
                            <input class="d-none" value="{{ location.location_id }}" name="location_id"/>
                            <button type="submit" class="btn btn-danger">Poista</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div>
        <h1 class="mb-3">Luo uusi toimipiste</h1>
        <form action="/dashboard/locations/manage-locations/create/" method="POST">
            <div class="row mb-3">
                <div class="col-3">
                    <input type="text" class="form-control" placeholder="Toimipisteen nimi" name="location_name"
                           aria-label="Toimipisteen nimi">
                </div>
                <div class="col-4">
                    <input type="text" class="form-control" placeholder="Toimipisteen osoite" name="location_address"
                           aria-label="Toimipisteen osoite">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-7">
                    <input type="text" class="form-control" placeholder="Toimipisteen kuvan URL-osoite"
                           name="location_cover_image"
                           aria-label="Toimipisteen kuvan URL-osoite">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary">Luo toimipiste</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}